<% include _partial/header.ejs %>
  <body>
    <div class="page-header">
      <h1>用户登录 <small>Login</small></h1>
    </div>

    <div class="alert alert-success alert-dismissible" id = "Success" role="alert" style="display : none">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <a href="#" class="alert-link"></a>
    </div>

    <div class="alert alert-danger alert-dismissible" id = "Error" role="alert" style="display : none">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <a href="#" class="alert-link"></a>
    </div>

    <form role="form">
      <div class="form-group">
        <label for="username">用户名</label>
        <input type="text" class="form-control" id="username" placeholder="Username" required>
      </div>

      <div class="form-group">
        <label for="userPassword">密码</label>
        <input type="password" class="form-control" id="userPassword" placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block submit">提交</button>
    </form>
    <p>若没有账号，点此<a href="/register">注册</a></p>

  </body>

  <script>
    $(function() {
      $("button.submit").click(submit);
      $('button.close').click(function() {
        $('#Error').css({"display" : "none"});
        $('#Success').css({"display" : "none"});
      });
    });

    function submit() {
      var data = {};
      data.username = $('#username').val();
      data.password = $('#userPassword').val();

      console.log(data);
      $.ajax({
        type: "POST",
        url: '/login',
        data: data,
        success: function(response) {
          $('.alert-link').html('登录成功');
          $('#Success').css({"display" : "block"});
          location.href ="/"
        },
        error: function(xhr, status, text) {
          var response = $.parseJSON(xhr.responseText);
          if (response) {
            $(".alert-link").html(response.error);
          } else {
            $(".alert-link").html('未知错误');
          }
          $('#Error').css({"display" : "block"});
        }
      });
    return false;

    }
  </script>
<% include _partial/footer.ejs %>

