<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css"></li>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Qrcandy <small>(´◉㉨◉)</small></h1>
      </div>
      <div class="well well-lg"><%= info %></div>
    </div>
  </body>
</html>
