body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  opacity: 0.95;
  text-shadow: -1px 0px 0px rgba(0,0,0,0.75);
}

.bar {
  height: 18px;
  background: green ;
}

#text_qrcode {
  width:750px ;
  outline:0;
  height:290px;
  resize: none;
  font-size:16px;
  border-radius:3px;
  border-color:#bbb;
  padding:10px;
  font-family:"Microsoft YaHei";
  overflow:hidden;
}

.text {
  width:570px;
  outline:0;
  height:290px;
  resize: none;
  font-size:16px;
  border-radius:3px;
  border-color:#bbb;
  padding:10px;
  font-family:"Microsoft YaHei";
  overflow:hidden;
}
.img, .img_url, .img_imgs {
  border: 1px solid #bbb;
  background: #fff;
  width: 290px;
  height: 290px;
  border-radius:3px;
  position: relative;
  float: left;
  padding:1px;
}

.box {
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e2e2e2;
}

.list-unstyled {
  font-size: 18px;
  margin-top:10px
}
.info-number {
  font-family: Constantia,Georgia;
  font-size:34px;
}
.box {
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e2e2e2;
}
.row {
  margin-top:30px;
}
.zow {
  margin-top:30px;
  margin-left: 30px;
}
.img-responsive {
  border-radius:10px;
}
.cl-nav {
  margin-left: auto;
  margin-right: auto;
}
.modal-content {
  opacity: 0.95;
}
footer {
  background: rgba(0,0,0,0.5);
  background: #000 9;
  margin: 50px auto 0 auto;
  font-family: arial;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
}

#url {
  line-height: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  outline: 0;
  border: 1px solid #bbb;
  width: 638px;
}