<footer id="footer">
  <div id="bottom-tip">
    <small>(　･ิω･ิ)ノิ  ╰(*°▽°*)╯ (❁´▽`❁)</small>
  </div>
    <small>了解更多，戳这里哦 —— <a href="https://github.com/Amunu/qrcandy" target="_blank">Github</a>仓库</small><br/>
    <small>© 2014 Minary</small>
  </footer>
</html>