<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css"></li>
    <script src='/javascripts/jquery.min.js'></script>
  </head>
  <header>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
	   <ul class="nav navbar-nav">
        <li class="active"><a href="/">首页</a></li>
        <% if(!username) {%>
        	<li><a href="/login">登录</a></li>
        	<li><a href="/register">注册</a></li>
        <% } else { %>
        	<li><a href="/user"><%= username %>的二维码</a></li>
        	<li><a href="/logout">登出</a>
        <% } %>
      </ul>
	  </div>
	</nav>
  </header>